%h1=@word.term

=link_to '보기', '#', :class => 'btn btn-mini btn-warning', :id => 'example-link'

#quiz-example
  %small.muted
    %em=@word.example

=form_for @quiz, :html => {:class => 'form-horizontal'} do |f|
  =f.hidden_field :word_id, :value => @word.id
  .control-group
    .controls
      =f.text_field :answer, :class => 'input-text', :placeholder => '번역'
  =f.submit 'OK', :class => 'btn btn-primary'

