%h1 
  묻기 점수
  %small.muted
    %em Quiz Scores
    
%h3 
  맞다
  %small.muted
    %em Correct Answers
  %h2=@score.right  

%h3 
  과실
  %small.muted
    %em Incorrect Answers
  %h2=@score.wrong


=link_to 'Reset Scores', '#', :class => 'btn btn-mini btn-danger'
  
