%h1 한국어 단어

=link_to 'Add Word', new_word_path, :class => 'btn btn-success'

%table.table
  %thead
    %th 
      단어
      %small.muted
        %em (Word)
    %th 
      번역
      %small.muted
        %em (Translation)
        
  %tbody
    -@words.each do |word|
      %tr
        %td=link_to word.term, word
        %td=word.translation
