#word-show
  %h1.word
    =@word.term
    -if @word.category.present?
      %span.label.label-info.word-category.pull-right
        =@word.category.name

  .form-horizontal        

    .control-group
      .control-label
        %label 번역
        %small.muted
          %em Translation
      .controls
        %input{:type => 'text', :value => @word.translation, :readonly => true}

    .control-group
      .control-label
        %label 보기
        %small.muted
          %em Example
      .controls
        %input{:type => 'text', :value => @word.example, :readonly => true}
        %br
        %br
        %em.muted= @word.example_translation            
        
  %hr

  .btn-group.pull-right
    =link_to 'Edit', edit_word_path(@word), :class => 'btn btn-warning'
    =link_to 'Next Word', word_path(Word.random), :class => 'btn btn-success'
