// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#example-link {
  margin-top: 10px;
}


#quiz-answer {
  height: 30px;
  width: 300px;
  margin: 0 auto;
}


#quiz-container {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}


#quiz-example {
  display: none;
  margin-bottom: 10px;
}


#score-right {
  color: green;
}


#score-wrong {
  color: red;
}



