=form_for @category, :html => {:class => 'form-horizontal'} do |f|
  
  .control-group
    .control-label
      %label 이름
      %small.muted
        %em Name

    .controls
      =f.text_field :name
      
  .control-group
    .controls
      =f.submit 'Save', :class => 'btn btn-primary'
